#users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .table-container {
    padding: 0 7%;
}
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}

  #users th:last-child, #users td:last-child{

    align-items: center;
    justify-content: center;
    display: flex;
  }
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #7c3aed;
    color: white;
  }

  #users>tbody>tr>td>button {
    padding: 5px;
    border-radius: 10px;
    margin:0px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #7c3aed;
    width: 30%;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;  
}

